<h1>Home#hello</h1>
<p>Find me in app/views/home/hello.html.erb</p>
<%= @data2  %>

<form action ="/home/new" method ="POST">
    <input type ="text" name ="data">
    <input type ="submit" value ="아!">
    
</form>